@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition:
    background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--background-color);
  background-image: url("/assets/images/pattern.svg");
  background-repeat: repeat;
  background-size: clamp(200px, 40vw, 320px) clamp(200px, 40vw, 320px);
  animation: bg-pattern-move 140s linear infinite;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/assets/images/noise.svg") repeat;
  background-size: clamp(150px, 30vw, 250px) clamp(150px, 30vw, 250px);
  opacity: 1;

  pointer-events: none;
  z-index: 3;

  animation: bg-noise-move 60s linear infinite;

  mix-blend-mode: soft-light;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;

  background: radial-gradient(
    circle at center,
    rgba(120, 180, 255, 0.06),
    rgba(0, 0, 0, 0.65)
  );

  pointer-events: none;
  z-index: 2;
}

@keyframes bg-pattern-move {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes bg-noise-move {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 200% 200%;
  }
}

main.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.3, 0);
}

.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12.5%;
  background: transparent;
  backdrop-filter: blur(2.5px);
  font-family: "Electrolize", Arial, sans-serif;
  transition: transform 0.2s;
  z-index: 1000;
  user-select: none;
}

.title {
  display: none;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a {
  font-size: 0;
  color: var(--link);
  transition: transform 0.25s ease-in;
}

.navigation a.hidden {
  display: none;
}

.navigation i {
  font-size: 6vw;
}

.navigation a:hover {
  color: var(--link-hover);
}

.navigation .active {
  background: linear-gradient(
    124deg,
    var(--gradient-1),
    var(--gradient-2),
    var(--gradient-3),
    var(--gradient-4),
    var(--gradient-4),
    var(--gradient-3),
    var(--gradient-2),
    var(--gradient-1)
  );
  background-clip: text;
  background-size: 150% 500%;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s ease infinite;
  transform: translateY(-50%) scale(1.25);
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-size: clamp(250px, 35vw, 320px) clamp(250px, 35vw, 320px);
  }

  body::before {
    background-size: clamp(180px, 25vw, 250px) clamp(180px, 25vw, 250px);
  }

  .header {
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    backdrop-filter: none;
  }

  .title {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .title img {
    width: 10%;
  }

  .title h1 {
    margin-left: 2.5%;
    font-size: 1.5rem;
    color: var(--title-page);
  }

  .navigation {
    padding: 5%;
    display: flex;
    justify-content: end;
  }

  .navigation a {
    margin-left: 2rem;
  }

  .navigation a::before {
    content: none;
  }

  .navigation a i {
    font-size: 1.5rem;
  }

  .navigation .active {
    font-weight: bolder;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  body {
    background-size: 320px 320px;
  }

  body::before {
    background-size: 250px 250px;
  }

  .navigation a {
    font-size: 1.5rem;
    white-space: nowrap;
    margin-left: 1.25rem;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-size: 320px 320px;
  }
}
