.header {
  position: fixed;
  bottom: 0;
  background: var(--color-sub-background);
  width: 100vw;
  height: 8.5%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 100;
  transition: all 0.5s
}

.title,
.link {
  display: none;
}

.iconlink {
  display: flex;
  position: relative;
  transform: translateY(100%);
  justify-content: space-around;
}

.iconlink i {
  color: var(--color-link);
  font-size: 4.5vw;
  transition: all 0.2s ease-in-out;
}

.iconlink i:hover {
  transform: translateY(-25%);
  text-decoration: none;
  background-color: transparent
}

.iconlink .active i {
  transform: translateY(-50%) scale(150%);
}

@media screen and (min-width: 768px) {

  .title,
  .link {
    display: flex;
  }

  .iconlink {
    display: none;
  }

  .header {
    top: 0;
    width: 100%;
    height: 10vw;
    background: none;
  }

  .link {
    float: right;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
  }

  .link a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-text-secondary);
    transition: all 0.2s ease-in-out;

  }

  .link a:hover {
    transform: translateY(25%);
    background-color: transparent;
    text-decoration: none;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
  }

  .title img {
    height: 40px;
    width: 40px;
  }

  .title h1 {
    align-content: center;
    margin-left: 10px;
    font-size: 1.5rem;
    color: var(--color-text-primary);
  }
}