:root {
  --color-background: #1D1318;
  --color-sub-background: #321F28;
  --color-text-primary: #BA6B07;
  --color-text-secondary: #934D3F;
  --color-accent: #8A554A;
  --color-highlight: #E79E4F;
  --color-link: #983825
}