@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: url("/assets/images/background.svg") repeat;
  background-position: 0;
}

div.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.3, 0),
    opacity 0.5s cubic-bezier(0.5, 0, 0.3, 0);
}

.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12.5%;
  background: transparent;
  backdrop-filter: blur(2.5px);
  font-family: "Electrolize", Arial, sans-serif;
  transition: transform 0.2s;
  z-index: 1000;
  user-select: none;
}

.title {
  display: none;
}

.navigation {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a {
  font-size: 0;
  color: dodgerblue;
  transition: color 0.1s ease-in, transform 0.25s ease-in;
}

.navigation i {
  font-size: 7vw;
}

.navigation a:hover {
  color: #04ff35;
}

.navigation .active {
  background: linear-gradient(
    124deg,
    rgb(140, 0, 255),
    rgb(0, 76, 255),
    rgb(4, 0, 255),
    rgb(0, 255, 174),
    rgb(0, 255, 242),
    rgb(187, 255, 0),
    rgb(94, 255, 0),
    rgb(0, 255, 242),
    rgb(0, 255, 174),
    rgb(4, 0, 255),
    rgb(0, 76, 255),
    rgb(140, 0, 255)
  );
  background-clip: text;
  background-size: 150% 500%;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s ease infinite;
  transform: translateY(-50%) scale(1.25);
}

@media screen and (min-width: 786px) {
  .header {
    display: grid;
    top: 0;
    height: 10%;
    width: 100%;
    backdrop-filter: none;
    grid-template-columns: 1fr 1fr;
  }

  .title {
    padding: 5%;
    display: flex;
    align-items: center;
  }

  .title img {
    width: 7.5%;
  }

  .title h1 {
    margin-left: 2.5%;
    font-size: 2vw;
    color: cadetblue;
  }

  .navigation {
    padding: 5%;
    display: flex;
    justify-content: end;
  }

  .navigation a {
    font-size: 2vw;
    margin-left: 3vw;
  }

  .navigation a i {
    font-size: 1.75vw;
  }

  .navigation .active {
    font-weight: bolder;
    transform: scale(1.1);
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
