@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

body {
  width: 100%;
  height: 100%;
  background: url("/assets/images/background.svg") repeat;
  background-position: 0;
}

main.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.3, 0);
}

.header {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 12.5%;
  background: transparent;
  backdrop-filter: blur(2.5px);
  font-family: "Electrolize", Arial, sans-serif;
  transition: transform 0.2s;
  z-index: 1000;
  user-select: none;
}

.title {
  display: none;
}

.navigation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation a {
  font-size: 0;
  color: var(--link);
  transition: color 0.1s ease-in, transform 0.25s ease-in;
}

.navigation i {
  font-size: 6vw;
}

.navigation a:hover {
  color: var(--link-hover);
}

.navigation .active {
  background: linear-gradient(
    124deg,
    var(--gradient-1),
    var(--gradient-2),
    var(--gradient-3),
    var(--gradient-4),
    var(--gradient-4),
    var(--gradient-3),
    var(--gradient-2),
    var(--gradient-1)
  );
  background-clip: text;
  background-size: 150% 500%;
  -webkit-text-fill-color: transparent;
  animation: rainbow 5s ease infinite;
  transform: translateY(-50%) scale(1.25);
}

.dot-blur {
  position: fixed;
  width: 100%;
  height: 100%;
}

.dot-blur div {
  position: fixed;
  width: 150vw;
  height: 50vw;
  backdrop-filter: blur(1px);
  background: radial-gradient(closest-side, var(--dot-blur), rgba(0, 0, 0, 0));
}

.dot-blur-1 {
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
}

.dot-blur-2 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 80%);
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .header {
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 100%;
    backdrop-filter: none;
  }

  .title {
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .title img {
    width: 10%;
  }

  .title h1 {
    margin-left: 2.5%;
    font-size: 1.5rem;
    color: var(--title-page);
  }

  .navigation {
    padding: 5%;
    display: flex;
    justify-content: end;
  }

  .navigation a {
    margin-left: 2rem;
  }

  .navigation a::before {
    content: none;
  }

  .navigation a i {
    font-size: 1.5rem;
  }

  .navigation .active {
    font-weight: bolder;
    transform: scale(1.1);
  }

  .dot-blur-1 {
    opacity: 0;
  }

  .dot-blur-2 {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .navigation a {
    font-size: 1.5rem;
    white-space: nowrap;
    margin-left: 1.25rem;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 200%;
  }
  100% {
    background-position: 0% 0%;
  }
}
