:root {
  --background-color: #0a0e1a;

  --title-page: #00b3b3;

  --header-primary: #00ffcc;
  --header-secondary: #00bfa6;

  --link: #008cff;
  --link-hover: #00ff3c;

  --gradient-1: #a100ff;
  --gradient-2: #1a00ff;
  --gradient-3: #00fff0;
  --gradient-4: #ccff00;
}
