:root {
  --background-color: #1f1007;

  --title-page: #ff6a00;

  --header-primary: #ffb000;
  --header-secondary: #ff5a00;

  --link: #ff2e2e;
  --link-hover: #f6ff00;

  --gradient-1: #ff3c00;
  --gradient-2: #ff7a00;
  --gradient-3: #fff200;
  --gradient-4: #00ffc8;
}
