@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

section {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}

section > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}

.card {
  width: 85vw;
  height: 10vh;
  border-left: 1.5vw solid #39ffd5;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.user {
  position: relative;
  margin-left: 10px;
}

.user .name {
  font-family: "JetBrains Mono", monospace;
  color: #4cffcf;
  font-size: 6vw;
}

.user .username {
  font-family: "Quicksand", sans-serif;
  color: #4cfff6;
  opacity: 0.7;
  font-size: 4.5vw;
}

.user .current-job {
  font-family: "Electrolize", sans-serif;
  font-size: 4vw;
}

.card .avatar {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 20vw;
  border-radius: 10%;
  box-shadow: 0 0 5px 0 #ff8c4c;
}

.user-info {
  margin-top: 5vh;
  position: relative;
  height: 45vh;
  width: 87.5vw;
}

.user-info .text-marquee {
  position: absolute;
  background-color: #27ffe8;
  width: 5vw;
  height: 45vh;
}

.user-info .text-marquee .slider {
  width: 45vh;
  overflow: clip;
  transform: translateX(-5%);
  rotate: 90deg;
  transform-origin: bottom left;
}

.user-info .text-marquee-track {
  display: flex;
  gap: 7.5vh;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite
    var(--direction, forwards);
}

.user-info .text-marquee p {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 4vw;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  letter-spacing: 1px;
}

.user-info table {
  position: absolute;
  border-collapse: collapse;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  max-width: 90%;
  height: 75%;
}

.user-info table td {
  padding: 0 20px 3% 0;
  font-family: "Electrolize", sans-serif;
  font-size: 4vw;
}

.user-info table td i {
  color: #61e2d4;
  font-size: 5vw;
}

.user-info table td a {
  color: #27d4c2;
  text-decoration: none;
}

.coder-image {
  display: none;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

.link-social {
  position: relative;
  left: 50%;
  top: 7.5vh;
  transform: translateX(-50%);
  width: 80vw;
  height: 5vh;
  display: flex;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid #24ffc8;
}

.link-social a {
  color: #56fff6;
  font-size: 6vw;
  user-select: none;
}

.link-social .tooltip {
  position: absolute;
  transform: translate(-40%, -100%);
  opacity: 0;
  background: rgba(27, 27, 27, 0.8);
  padding: 1vw;
  border-left: 2vw solid deepskyblue;
  transition: all 0.2s ease-out;
}

.link-social .tooltip::before {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom right, transparent 50%, white 50%);
  width: 2.5vw;
  height: 2.5vw;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.link-social .tooltip .link {
  user-select: none;
  color: white;
  font-family: "Electrolize";
  font-size: 4vw;
  text-decoration: none;
}

.link-social .tooltip .link:hover {
  background-color: transparent;
}

.link-social div:hover > .tooltip {
  transform: translate(-40%, -250%);
  opacity: 1;
}

@media screen and (min-width: 786px) {
  section > div {
    transform: translate(-50%, -55%);
  }

  .user .name {
    font-size: 4vw;
  }

  .user .username {
    font-size: 3vw;
  }

  .user .current-job {
    font-size: 3vw;
  }

  .card .avatar {
    width: 15vw;
  }

  .user-info .text-marquee {
    width: 3vw;
  }

  .user-info .text-marquee p {
    font-size: 2.75vw;
  }

  .user-info table td {
    font-size: 2.75vw;
  }

  .user-info table td i {
    font-size: 3vw;
  }

  .link-social a {
    font-size: 4vw;
  }

  .link-social .tooltip {
    padding: 1vw;
    border-left-width: 1vw;
  }

  .link-social .tooltip::before {
    width: 2vw;
    height: 2vw;
  }

  .link-social .tooltip .link {
    font-size: 2.75vw;
  }
}

@media screen and (min-width: 1024px) {
  section > div {
    transform: translate(-50%, -45%);
  }

  .card {
    height: 130px;
    width: 50vw;
    left: 27.5%;
    border-width: 0.75vw;
  }

  .user {
    left: 11.5vw;
    position: relative;
  }

  .user .name {
    font-size: 3.5vw;
  }

  .user .username {
    font-size: 2vw;
  }

  .user .current-job {
    font-size: 1.25vw;
  }

  .card .avatar {
    left: 1.5vw;
    width: 9.5vw;
  }

  .user-info {
    left: -1.5vw;
  }

  .user-info .text-marquee {
    width: 1.25vw;
    height: 45vh;
  }

  .user-info .text-marquee .slider {
    width: 45vh;
  }

  .user-info .text-marquee p {
    font-size: 1vw;
  }

  .user-info table {
    top: 50%;
    left: 14vw;
    transform: translate(-50%, -50%);
    max-width: 90%;
    height: 70%;
  }

  .user-info table td {
    font-size: 1vw;
  }

  .user-info table td i {
    font-size: 1.25vw;
  }

  .coder-image {
    display: flex;
    position: absolute;
    top: 5%;
    right: 0;
    width: 45%;
    animation: coder-show-up 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }

  .link-social {
    transform: translate(75%, -200%);
    width: 25vw;
    border-bottom: none;
  }

  .link-social a {
    color: #56fff6;
    font-size: 2.25vw;
    user-select: none;
  }

  .link-social .tooltip {
    position: absolute;
    transform: translate(-37.5%, -100%);
    padding: 0.5vw;
    border-width: 0.5vw;
  }

  .link-social .tooltip::before {
    width: 1vw;
    height: 1vw;
  }

  .link-social .tooltip .link {
    font-size: 1vw;
  }

  .link-social div:hover > .tooltip {
    transform: translate(-37.5%, -270%);
  }

  @keyframes coder-show-up {
    0% {
      right: -100%;
    }

    100% {
      right: 0;
    }
  }
}
